$background-color: #faf9f0;
$red-orange: #e07a5f;
$navy-blue: #174664;
$dark-gold: #e7a336;
$light-gold: #f4d7a4;

@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap);

$playfair-display-black: "Playfair Display", serif;
